<h2>List of Champions:</h2>

<% champions.forEach(champion => { %>
    <div class="well">
        <h3><%= champion.Name %></h3>
        <img src="<%= champion.ThumbnailUrl %>">
        <form method="POST" action="/smash">
            <input hidden type="text" name="Name" value="<%= champion.Name %>">
            <input hidden type="text" name="MainImageUrl" value="<%= champion.MainImageUrl %>">
            <button class="btn btn-primary" type="submit">Add to Favorites!</button>
        </form>
        <a href="/details/<%= champion.OwnerId %>">Click for more info!</a>
    </div>
<% }) %>